@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300&family=Open+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Open Sans', sans-serif;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

h1,
h2,
h3 {
    font-size: 20px;
}


a {
    color: #0f4c81;
    margin: auto 5px;
    padding: 10px;
    background-color: #f7bb01;
    border-radius: 10px;
    text-decoration: none;
}

i {
    font-size: 30px;
}

html,
body {
    align-items: center;
    height: 100%;
    transition: 0.05s ease-in-out;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-box {
    flex: 1;
    align-items: center;
    margin: auto;
}

.area {
    width: 75%;
    background-color: aliceblue;
    padding: 20px;
    margin: auto;
    border-radius: 0 0 10px 10px;
    align-items: center;
    color: #0f4c81;
    text-align: center;
    box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.5);
}

.area .big-title {
    margin: 0 auto 20px auto;
    display: block;
}

.area .big-title .title-text {
    font-size: 25px;
}

.qustion {
    justify-content: space-between;
    align-items: center;
    margin: auto;
    display: flex;
}

.prompt-message {
    margin: auto;
    font-size: 20px;
}

.choose {
    display: block;
    height: 120px;
    flex: 1;
    margin: auto 10px;
    border: 3px solid #0f4c81;
    border-radius: 10px;
    background-color: aliceblue;
    font-size: 20px;
    color: #0f4c81;
}

.choose p,
.choose i {
    margin: auto;
}

.choose:hover,
.menu-bar button:hover {
    background-color: #f7bb01;
    transition: 0.05s ease-in-out;
    box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.5);
}

.memo {
    border-radius: 10px;
    padding: 30px;
    line-height: 30px;
    background-color: #0f4c81;
    margin: 20px 10px;
    margin-bottom: 0px;
    color: aliceblue;
}

.memo .note {
    color: #f7bb01;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.memo .note a {
    margin: 10px 5px;
}

.memo .note a:hover {
    background-color: #0f4c81;
    transition: 0.05s ease-in-out;
    color: #f7bb01;
    border: 2px solid #f7bb01;
    box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.5);
}

.menu-bar {
    width: 75%;
    margin: auto;
    padding: 10px 20px;
    display: flex;
    background-color: #0f4c81;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    align-items: center;
}

.menu-bar img {
    width: 70px;
}

.menu-bar button {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 3px solid aliceblue;
    border-radius: 10px;
    background-color: #0f4c81;
    color: aliceblue;
    align-items: center;
    text-align: center;
}

.menu-bar i {
    margin-right: 10px;
    font-size: 25px;
}

.menu-bar p {
    font-size: 15px;
}

.buttonArea {
    display: flex;
}

.buttonArea button {
    margin: auto 0 auto 20px;
    padding: 5px 10px;
    font-size: 15px;
}

.buttonArea button i {
    margin: auto 10px auto 0;
    align-items: center;
}

button {
    cursor: pointer;
}

.qustion .prompt-message {
    font-size: 20px;
}

footer .company-footer {
    color: gray;
    text-align: center;
    align-items: center;
    margin: 10px auto 0 auto;
}

.newsItems {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.newsContent {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    max-height: 80%;
    overflow: auto;
    border-radius: 10px;
    transition: 0.05s ease-in-out;
}

.update-dateTime {
    border-radius: 10px;
    color: #0f4c81;
    text-align: center;
    align-items: center;
    font-size: 15px
}

.titleBar {
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: #0f4c81;
    padding: 10px;
    border-radius: 10px;
    color: #fefefe;
}

.titleBar .titleText {
    flex: 1;
    text-align: center;
}

.newsItems i {
    padding: 5px;
    cursor: pointer;
}

.newsItems i:hover {
    background-color: #f7bb01;
    border-radius: 5px;
    color: #0f4c81;
}

.newsContent .contentItems {
    padding: auto 10px;
    margin: 10px 10px;
}

.newsItems ul {
    margin: 10px;
}

.newsItems li {
    margin: 10px auto;
    font-size: 16px;
}

.contentItems .items {
    margin: 10px auto;
    padding: 10px;
}

.contentItems .items h3 {
    font-size: 18px;
}

@media (max-width:812px) {

    .menu-bar button,
    .qustion button {
        border: 2px solid;
        font-size: 15px;
    }

    .menu-bar {
        padding: 5px 20px;
    }

    .menu-bar img {
        width: 50px;
    }

    .area .big-title .title-text {
        font-size: 18px;
        font-weight: bold;
    }

    .memo .note,
    .memo #note {
        font-size: 15px;
    }

    .memo {
        padding: 12px;
        margin: 20px 3px 0 3px;
    }

    .buttonArea button p {
        font-size: 15px;
    }

    .choose {
        margin: 0 3px;
    }

    .qustion .prompt-message {
        font-size: 15px;
    }

    footer .company-footer {
        font-size: 12px;
    }

}

@media (max-width:440px) {
    .buttonArea button i {
        display: none;
    }
}

@media (max-width:944px) {
    a {
        display: block;
    }
}