@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.name-area {
  display: flex;
  margin-left: 20px;
  flex: 1;
}

.title-bar .logo {
  width: 50px;
  height: 50px;
  align-items: center;
}

.title-bar {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0f4c81;
  z-index: 9999;
  box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.5);
}

.title-bar .page-title {
  color: aliceblue;
  display: block;
  margin: auto 10px;
  text-align: center;
}

.title-bar {
  display: flex;
}


.footer-bar {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  background-color: #0f4c81;
  padding: 10px 10px;
}

.footer-bar a {
  font-size: 20px;
  color: #0f4c81;
  text-align: center;
  color: aliceblue;
  border: 3px solid aliceblue;
  font-size: 15px;
  border-radius: 15px;
  padding: 10px;
  margin: auto 10px;
  font-weight: bold;
}

.footer-bar a:hover {
  background-color: #f7bb01;
}


*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  align-items: center;
  transition: 0.05s ease-in-out;
  box-sizing: border-box;
}

body {
  margin-top: 100px;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #0f4c81;
}


.conponent {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 15px;
  margin: 20px;
  /* box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.5); */
}

.title {
  color: #0f4c81;
  font-weight: bold;
  margin: 10px 15px;
  font-size: 25px;
}

.ntroduce {
  font-size: 15px;
  color: #526d82;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

.items {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.item-card {
  font-weight: bold;
  margin: 10px;
  border-radius: 15px;
  border: 3px solid#0f4c81;
  background-color: aliceblue;
  color: #0f4c81;
  cursor: pointer;
  padding: 1.5rem;
  flex-direction: column;
  flex: auto;
  overflow: hidden;
  align-items: center;
}

.item-card i {
  font-size: 25px;
}

i {
  margin-right: 10px;
}

.item-card:hover {
  background-color: #f7bb01;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}

#no-link {
  cursor: auto;
}

#no-link:hover {
  cursor: auto;
  background-color: aliceblue;
}

footer .company-footer {
  color: white;
  text-align: center;
  align-items: center;
  margin: 10px auto 20px auto;
}

@media (max-width: 685px) {
  body {
    margin-top: 90px;
  }

  .title-bar {
    padding: 10px auto;
    display: flex;
  }

  .name-area {
    margin: auto 20px;
    flex: none;
  }

  .name-area .logo {
    margin: auto;
  }

  .name-area .page-title {
    display: none;
  }

  .footer-bar {
    flex: 1;
    padding: 10px auto;
    padding-right: 10px;
  }

  .footer-bar a {
    flex: 1;
  }

  .footer-bar a i {
    display: none;
  }

  footer .company-footer {
    font-size: 12px;
  }

  .conponent {
    margin: 0 20px 20px 20px;
  }
}