@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&family=Ubuntu:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

h1,
h2,
h3 {
    font-size: 20px;
}


a {
    color: #0f4c81;
    margin: auto 5px;
    padding: 10px;
    background-color: #f7bb01;
    border-radius: 10px;
    text-decoration: none;
}

i {
    font-size: 30px;
}

html,
body {
    align-items: center;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-box {
    flex: 1;
    align-items: center;
    margin: auto;
}

.area {
    width: 75%;
    background-color: aliceblue;
    padding: 20px;
    margin: auto;
    border-radius: 0 0 10px 10px;
    align-items: center;
    color: #0f4c81;
    text-align: center;
    box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.5);
}

.area .big-title {
    margin: 0 auto 20px auto;
    display: block;
}

.area .big-title .title-text {
    font-size: 25px;
}

.qustion {
    justify-content: space-between;
    align-items: center;
    margin: auto;
    display: flex;
}

.prompt-message {
    margin: auto;
    font-size: 20px;
}

.choose {
    display: block;
    height: 100px;
    flex: 1;
    margin: auto 10px;
    border: 3px solid #0f4c81;
    border-radius: 10px;
    background-color: aliceblue;
    font-size: 20px;
    color: #0f4c81;
}

.choose p,
.choose i {
    margin: auto;
}

.choose:hover,
.menu-bar button:hover {
    background-color: #f7bb01;
    transition: 0.5s ease;
}

.memo {
    border-radius: 10px;
    padding: 30px;
    line-height: 30px;
    background-color: #0f4c81;
    margin: 20px 10px;
    margin-bottom: 0;
    color: aliceblue;
}

.memo .note {
    color: #f7bb01;
    font-size: 20px
}

.memo .note a {
    margin-bottom: 10px;
}

.memo .note a:hover {
    background-color: #0f4c81;
    color: #f7bb01;
    border: 2px solid #f7bb01;
}

.menu-bar {
    width: 75%;
    margin: auto;
    padding: 10px 20px;
    display: flex;
    background-color: #0f4c81;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    align-items: center;
}

.menu-bar img {
    width: 70px;
}

.menu-bar button {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 3px solid aliceblue;
    border-radius: 10px;
    background-color: #0f4c81;
    color: aliceblue;
    align-items: center;
    text-align: center;
}

.menu-bar i {
    margin-right: 10px;
    font-size: 25px;
}

.menu-bar p {
    font-size: 15px;
}

button {
    cursor: pointer;
}

.qustion .prompt-message {
    font-size: 20px;
}

@media (max-width:812px) {
    * {
        font-weight: normal;
    }

    p {
        font-size: 12px;
    }

    h1,
    h2,
    h3 {
        font-size: 12px;
    }

    .menu-bar button,
    .qustion button {
        border: 2px solid;
    }

    .menu-bar {
        padding: 5px 20px;
    }

    .menu-bar img {
        width: 50px;
    }

    .area .big-title .title-text {
        font-size: 15px;
        font-weight: bold;
    }

    .memo .note,
    .memo #note {
        font-size: 8px;
    }

    .memo {
        padding: 12px;
    }

    #go-home {
        padding: 5px 10px;
    }

    #go-home p {
        font-size: 12px;
    }

    .choose:active,
    .menu-bar button:active {
        background-color: #f7bb01;
        transition: 0.5s ease;
    }

    .qustion .prompt-message {
        font-size: 12px;

    }
}

@media (max-width:944px) {
    a {
        display: block;
    }
}